.lds-hourglass {
    display: inline-block;
    padding: 200px 0px;
    position: relative;
    top:45px;
    left: 300px;
    width: 80px;
    height: 80px;
    visibility: hidden;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid black;
    border-color: black transparent black transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  body{
    margin:0;
    padding:0;
  }

  .navigation{
    background-color: red;
    margin: 0;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .navigation select{
    margin: 10px 5px;
    padding: 10px;
    border-radius: 15%;
    color: black;
    background-color: aquamarine;
  }



  .dogimage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: aliceblue;
  }

  .dogimage img{
    position: relative;
    margin: 15px;
    padding: 20px;
    width: 500px;
    height: 500px;
  }

  .doggie{
    visibility: hidden;
  }
  
  .show{
    visibility: visible;
  }